@import "tailwindcss";

@layer utilities {
  /* For Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* For IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}


@font-face {
  font-family: "NeueMachina";
  src: url('./assets/fonts/NeueMachina-Regular.otf') format('opentype');
}

@font-face {
  font-family: "Helvetica";
  src: url('./assets/fonts/helvetica-light-587ebe5a59211.ttf') format('opentype');
}

.pt-sans-regular {
  font-family: "Saira", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
